//Variables

body{
	font-size: 16px;
}
.wrapper{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 1rem;
}

$spacing--xl: 4rem;
$spacing--l: 3rem;
$spacing--m: 2rem;
$spacing--s: 1rem;
$spacing--xs: 0.5rem;

//Type

a{
	text-decoration: none;
	color: inherit;
	transition: .2s;
	cursor: pointer;
	&:hover{
		color: #1d68a7;
		text-decoration: none;
	}
}
.working{
	margin: $spacing--s;
	text-align: center;
}

//Forms

input,
textarea,
select{
	padding: $spacing--xs;
	width: 100%;
}
.navbar-laravel{
	margin-bottom: 0;
}
nav{
	background: #f5f5f5;
	padding: $spacing--s;
	margin-bottom: $spacing--m;
	ul{
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		li{
			list-style-type: none;
			margin: 0 $spacing--m;
		}
	}
}