.game{
	&__details{
		padding: $spacing--s;
		background: white;
		margin-bottom: $spacing--l;
		>*:last-child{
			margin: 0;
		}
	}
	&__comments{
		padding: 0;
		margin: 0;
		&-item{
			list-style-type: none;
			&-inner{
				border-bottom: 1px solid grey;
				padding: $spacing--xs;
			}
			label{
				line-height: 1;
				margin-bottom: 0;
			}
			span{
				font-weight: bold;
				display: block;
			}
		}
		ul{
			padding-left: $spacing--l;
		}
		&-add{
			margin: $spacing--m 0;
			.btn{
				float:right;
			}
			&:after{
				content: '';
				display: block;
				clear: both;
			}
		}
	}
	.form{

	}
}