.library{
	&__filter{
		display: flex;
		justify-content: space-between;
		margin: $spacing--s 0;
		&-item{
			width: 250px;
			label{
				display: block;
				margin: 0;
			}
			select{
				width: 100%;
			}
		}
	}
	&__game{
		&s{
			display: flex;
			flex-wrap: wrap;
			margin: $spacing--m -15px;
		}
		width: percentage(1/3);
		padding: 0 15px 30px;
		&-title{
			margin-bottom: $spacing--xs;
		}
	}
	&__new{
		max-width: 300px;
		div{
			margin-bottom: $spacing--s;
		}
		label{
			display: block;
			margin-bottom: 0;
		}
	}
}